/* some style */

body {
    background-color: rgb(24,26,38);
   /* background-color: rgb(24,24,45); */
    color: rgb(234,234,234);
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

html {
    padding: 0px;
}

.line {
    line-height: 1.5em;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 0.5s;    
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.bg-color {
    background-color: rgb(24,26,38);
}

.blue {
    color: rgb(22, 165, 218);
}
.light-blue {
    color: rgb(129,211,217);
}
.orange {
    color: rgb(216,160,47);
}
.green {
    color: rgb(125, 196, 99);
}

.top-5 {
    padding-top: 5%;
}

.top-10 {
    padding-top: 10%;
}

.top-15 {
    padding-top: 15%;
}

.top-20 {
    padding-top: 20%;
}

.left-5 {
    padding-left: 5%;
}

.left-10 {
    padding-left: 10%;
}

.left-15 {
    padding-left: 15%;
}

.left-20 {
    padding-left: 20%;
}

.dbg-border {
   border: 1px solid #666; 
}

.line-height-spaced {
    line-height: 1.5em;
}

.land {
    background-color: green;
    position: absolute;
    width: 10000px;
    height: 10000px;
    transform: translateZ(-5000px) translateY(-5040px) rotateX(90deg);
}

blockquote {
    font-size: 1.5em;
}

.current {
    opacity: 1;
}

.current-animate {
   -webkit-animation: revealIt 1.5s; 
}

.last {
    opacity: 0;
}

.last-animate {
    -webkit-animation: hideIt 2s; 
}

@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1.0;}
}


@-webkit-keyframes revealIt {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes hideIt {
    0% {   opacity: 1; left: 300px;}
    100% { opacity: 0; left: -2000px}
}


